<% include partials/header.ejs %>

    <div class="container py-5">
        <div class="row mb-2">
            <header>
                <h2><b>User</b></h2>
            </header>
        </div>
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item justify-content-between align-items-center">
                    Id
                    <span class="badge badge-primary badge-pill"><%= id %></span>
                </li>
                <li class="list-group-item justify-content-between align-items-center">
                    Name
                    <span class="badge badge-primary badge-pill"><%= name %></span>
                </li>
                <li class="list-group-item justify-content-between align-items-center">
                    Description
                    <span class="badge badge-primary badge-pill"><%= description %></span>
                </li>
                <li class="list-group-item justify-content-between align-items-center">
                    E-mail
                    <span class="badge badge-primary badge-pill"><%= email %></span>
                </li>
                <li class="list-group-item justify-content-between align-items-center">
                    Bitcoin Wallet Address
                    <span class="badge badge-primary badge-pill"><%= bitcoinWalletId %></span>
                </li>
                <li class="list-group-item justify-content-between align-items-center">
                    Bitcoin Balance
                    <span class="badge badge-primary badge-pill"><%= bitcoinBalance %></span>
                </li>
                <li class="list-group-item justify-content-between align-items-center">
                    Ethereum Wallet Address
                    <span class="badge badge-primary badge-pill"><%= ethereumWalletId %></span>
                </li>
                <li class="list-group-item justify-content-between align-items-center">
                    Ether Balance
                    <span class="badge badge-primary badge-pill"><%= etherBalance %></span>
                </li>
                <li class="list-group-item justify-content-between align-items-center">
                    Max Amount Allowed
                    <span class="badge badge-primary badge-pill"><%= maxAmountAllowed %></span>
                </li>
            </ul>
        </div>
    </div>

<% include partials/footer.ejs %>